<h1>New Pup!</h1>
<p>Find me in app/views/kittens/new.html.erb</p>
<%= form_for(@dog) do |d| %>
    <%= d.text_field(:name, {placeholder: "Name"}) %>
    <%= d.text_field(:picture, {placeholder: "Photo URL"}) %>
    <%= d.submit("Add Pup") %>
<% end %>