<h1>New Pup!</h1>
<%= form_for(@dog) do |d| %>
    <%= d.text_field(:name, {placeholder: "Name"}) %>
    <%= d.text_field(:picture, {placeholder: "Photo URL"}) %>
    <%= d.submit("Add Pup") %>
<% end %>