<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
  <% if logged_in? %>
    <li class="nav-item">
        <%= link_to current_user.name, user_path(current_user.id), :class => "nav-link active"%>
      </li>
      <li class="nav-item">
          <%= link_to "Logout", logout_path, {method: "DELETE"} %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dogs/new">Add new Pup</a>
          </li>
        <% else %> 
        
    <li class="nav-item">
        <%= link_to "Login", new_session_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
        <%= link_to "Sign Up", new_user_path, class: "nav-link active" %>
    </li>
    <%end%>

  </ul>

  