@import "bootstrap";
@import "font-awesome";
body {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f8f9fa+23,ffefef+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f8f9fa 23%, #ffefef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f8f9fa 23%,#ffefef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f8f9fa 23%,#ffefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffefef',GradientType=0 ); /* IE6-9 */
font-family: 'Raleway', sans-serif;
}
.container {
    align-content: center;
}
.nav-item {
    list-style: none;
    display: inline-block;
}
.btn-outline-success{
    width: 100%;
}
.cute, .not, .btn-outline-success{
    font-size: 30px;
    margin: auto 0;
}
h1, h2, .alert {
    text-align: center;
}
.cute, .not{
    width: 49.5%;
}
.navbar-brand{
font-family: 'Julius Sans One', sans-serif;
}
.card {
    margin: 5px; 
    vertical-align: top;
}
.card-body {
    background-color: #f8f9fa;
}
.pup-card { 
display: inline-block;
}