@import "bootstrap";
@import "font-awesome";
body {
    background: url("https://images.alphacoders.com/102/102211.jpg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
font-family: 'Nanum Myeongjo', serif;
}
::selection{
    background-color: #a8ffad;
}
.container {
    align-content: center;
}
.nav-item {
    list-style: none;
    display: inline-block;
}
.btn-outline-success, .btn-outline-warning{
    width: 100%;
}
.cute, .not, .btn-outline-success, .btn-outline-warning{
    font-size: 30px;
    margin: auto 0;
}
h1, h2, .alert {
    text-align: center;
}
.cute, .not{
    width: 49.5%;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
.card {
    margin: 5px; 
    vertical-align: top;
}
.card-body {
    background-color: #f8f9fa;
}
.pup-card { 
display: inline-block;
height: 400px; 
text-align: center;
}
